{% extends "section.html" %}

{% block content %}
<h1>Projects</h1>
<ol>
    {% for page in section.pages %}
    <li>
        <strong><a href="{{page.permalink | safe}}">{{page.title}}</a></strong><br>
        {{page.extra.authors}}<br>
        <em>{{page.extra.where}}</em>, {{page.year}}
        {% if page.extra.pdf is defined -%}
        <a class="symbol-link" href="{{page.extra.pdf}}">📄</a>
        {%- endif %}
        {% if page.extra.link is defined -%}
        <a class="symbol-link" href="{{page.extra.link | safe}}">🔗</a>
        {%- endif %}
    </li>
    {% endfor %}
</ol>
{% endblock content %}
